<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %} {% endblock %} Vection Issue Management</title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <link rel="stylesheet" type="text/css" href="/media/vection.css" />
      
  </head>
  
  <body>
   <div id="main">
  	<div id="content">

		<p></p>
		<h1>Vection Documentation </h1>  
	<ul >
		<li>	<P><A href="#intro">Introduction</A><BR>
				
		<li> 	<P><A href="#issues">Issue Details</A><BR>
		
	</ul>
		
	</div>
	</div>
  </body>
  
</html>