<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Vection Issue Management</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="vection.css" />
</head>

<body>
<div id="head-padding">
	<div id="page-head">		
		
		<div id ="head-img">
		<img src="images/v2.png" align="right" alt="Vection Issue Management"/>
		</div>
		
		<div id="usertools">
		</div>
	</div>
	
	
</div>

<div id="menu-padding">
	<div id="menu">
	<ul>
		<li><a title="default design" href="index.html">New Issue</a></li>
		<li><a title="default design" href="index.html">Browse Project</a></li>
		<li><a title="default design" href="index.html">Your Page</a></li>
		<li><a title="default design" href="index.html">Seadrch</a></li>
	</ul>
	
	
	</div>
</div>
</body>
</html>
